.smallItemBox {
	width:auto;
	height:auto;
	margin-top:50px;
	margin-right:50px;
	margin-bottom:50px;
	padding:70px;
	border-radius: 15px;
}

.bigItemBox {
	width:auto;
	height:auto;
	margin-top:50px;
	margin-left:50px;
	margin-bottom:50px;
	padding:70px;
	border-radius: 15px;
}
.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}

h1 {
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 48px;
}

h2 {
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 24px;
}

h3 {
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 35px;
}

h4 {
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 24px;
    color: red;
}

h5 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.columnHeader {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .rowHeader:after {
    content: "";
    display: table;
    clear: both;
  }
  
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
  }

  .logButton {
    background-color: #BEE4F0;
    border: 0px solid black;
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 3px 1px rgba(43, 43, 43, 0.705);
    font-weight: 500;
  }

  .downloadButton{
    color: white;
    margin-bottom: 10px;
    float: right;
    background-color: #29a749;
    border: 0px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(43, 43, 43, 0.705);
    font-weight: 500;
  }
  
  /* The Popup (background) */
  .popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Popup Content */
  .popup-content {
    border-radius: 10px;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  .popup-table {
    width: 100%;
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
  }

  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  /* The Close Button */
  .close {
    color: rgb(121, 121, 121);
    float: right;
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }